@font-face {
    font-family: Upheaval;
    src: url("../fonts/upheavtt.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(179.8777039647797deg, rgba(158, 0, 236,1) -6.295021186440664%,rgba(242, 71, 104,1) 92.9634533898305%,rgba(243, 72, 104,1) 92.9634533898305%) no-repeat;
    font-family: Upheaval, sans-serif;
    font-size: 14px;
    color: #fff;
}

.container {
    padding-top: 50px;
    width: 1080px;
    margin: 0 auto;
}

.container .game-screen,
.container .start-screen {
    opacity: 0;
}

.container .game-screen {
    margin-top: 300px;
}

/**** START SCREEN LAYOUT ****/

.start-screen {
    margin-top: 100px;
    background: linear-gradient(184.90445572059912deg, rgba(86, 3, 128,1) -4.314088983050851%,rgba(20, 39, 43,1) 91.97828389830508%,rgba(20, 40, 43,1) 91.97828389830508%) no-repeat;
}

.game-screen {
    margin-top: 0;
    background-color: #2d2d2d;
    border-bottom: .5em solid #ff4646;
}

.start-screen,
.game-screen {
    padding: 2%;
    border-radius: 2em;
    box-shadow: rgba(0,0,0,0.3) 0 0 2em 0;
}

.start-screen .main-heading {
    text-align: center;
}

.main-heading {
    padding: 2%;
}

.main-heading,
.status {
    -webkit-animation: 2s linear 0s infinite rotate_text;
    -moz-animation: 2s linear 0s infinite rotate_text;
    -o-animation: 2s linear 0s infinite rotate_text;
    animation: 2s linear 0s infinite rotate_text;
}

.main-title > h1 {
    display: inline-block;
    font-weight: normal;
    font-size: 4em;
    margin-bottom: 0;
    position: relative;
}

.main-title > h1::before,
p#points::before {
    display: block;
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translate(3px,3px);
    z-index: -1;
}

.main-heading > p {
    margin-top: 0;
    font-size: 2em;
}

.start-screen #start-button {
    font-family: inherit;
    font-size: 2em;
    color: inherit;
    background: #323c4d;
    display: block;
    width: 30%;
    padding: .5em;
    margin: 0 auto;
    border: none;
    border-radius: .5em;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

/**** GAME SCREEN LAYOUT ****/

.status {
    display: inline-block;
    position: relative;
    z-index: 2;
}

p#points {
    margin: .5em 0;
    font-size: 2.5em;
    margin-left: 1em;
}

.game-field {
    margin: 0 auto;
}

.card-holder {
    width: 250px;
    height: 250px;
    padding: 5px;
    perspective: 1000px;
    background-color: transparent;
    -webkit-transition: opacity .2s ease-in, filter .2s ease-in;
    -moz-transition: opacity .2s ease-in, filter .2s ease-in;
    -ms-transition: opacity .2s ease-in, filter .2s ease-in;
    -o-transition: opacity .2s ease-in, filter .2s ease-in;
    transition: opacity .2s ease-in, filter .2s ease-in;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
}

.faded {
    opacity: .5;
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card__item--front,
.card__item--back {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 1em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__item--back,
.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/**** CARDS BG SETTINGS ****/

.card__item--front {
    background: url('../img/un.jpg') no-repeat;
}

.card__item--back.beard {
    background: url('../img/beard.jpg') no-repeat;
}

.card__item--back.biker {
    background: url('../img/biker.jpg') no-repeat;
}

.card__item--back.corey {
    background: url('../img/Corey.jpg') no-repeat;
}

.card__item--back.mark {
    background: url('../img/Mark.jpg') no-repeat;
}

.card__item--back.son {
    background: url('../img/son.jpg') no-repeat;
}

.card__item--back.swans {
    background: url('../img/Swans.jpg') no-repeat;
}

.card__item--back.pardo {
    background: url('../img/Pardo.jpg') no-repeat;
}

.card__item--back.richter {
    background: url('../img/Richter.jpg') no-repeat;
}

.card__item--back.rep {
    background: url('../img/Rep.jpg') no-repeat;
}

.card__item--back.mafia {
    background: url('../img/Mafia.jpg') no-repeat;
}

.card__item--back.tony {
    background: url('../img/Tony.jpg') no-repeat;
}

.card__item--back.midnight {
    background: url('../img/midnight.jpg') no-repeat;
}

/**** OVERLAY SETTINGS ****/

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
}

.overlay.visible--diff,
.overlay.visible--res {
    opacity: 1;
}

.overlay.visible--diff .resultsBlock,
.overlay.visible--res .difficultyBlock {
    display: none;
}

.difficultyBlock,
.resultsBlock {
    width: 500px;
    margin: 200px auto 0;
    background: linear-gradient(184.90445572059912deg, rgba(86, 3, 128,1) -4.314088983050851%,rgba(20, 39, 43,1) 91.97828389830508%,rgba(20, 40, 43,1) 91.97828389830508%) no-repeat;
    padding: 2%;
    border-radius: 1em;
    text-align: center;
}

.difficultyBlock > h2,
.resultsBlock > h2 {
    font-weight: normal;
    font-size: 2em;
}

#difficulty,
#finish-options,
#results {
    list-style: none;
    padding-left: 0;
}

.button-option {
    margin-bottom: .5em
}

.button-option > button {
    width: 100%;
    font-family: Upheaval, sans-serif;
    font-size: 1.5em;
    background: #fff;
    border: none;
    border-radius: .5em;
    padding: .5em;
    text-align: center;
    -webkit-transition: background-color .2s ease-out, color .2s ease-out;
    -moz-transition: background-color .2s ease-out, color .2s ease-out;
    -ms-transition: background-color .2s ease-out, color .2s ease-out;
    -o-transition: background-color .2s ease-out, color .2s ease-out;
    transition: background-color .2s ease-out, color .2s ease-out;
}

.result__item {
    font-size: 1.5em;
    margin-bottom: .25em;
}

.result__item--left {
    float: left;
}

.result__item--right {
    float: right;
    padding: 0 .25em;
    background: #ff4646;
}

.result__item::after {
    content: '';
    display: block;
    clear: both;
}

/**** ANIMATION ****/

.start-screen,
.game-screen,
.overlay {
    -webkit-transition: opacity .5s ease-out, margin-top .5s ease-out;
    -moz-transition: opacity .5s ease-out, margin-top .5s ease-out;
    -ms-transition: opacity .5s ease-out, margin-top .5s ease-out;
    -o-transition: opacity .5s ease-out, margin-top .5s ease-out;
    transition: opacity .5s ease-out, margin-top .5s ease-out;
}

.start-screen #start-button:hover {
    background-color: #ff4646;
}

.button-option > button:hover {
    background-color: #ff4646;
    color: #fff;
}

@keyframes rotate_text {
    0% {
        -webkit-transform: rotate(-1.2deg) scale(1);
        -moz-transform: rotate(-1.2deg) scale(1);
        -ms-transform: rotate(-1.2deg) scale(1);
        -o-transform: rotate(-1.2deg) scale(1);
        transform: rotate(-1.2deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(1deg) scale(1.1);
        -moz-transform: rotate(1deg) scale(1.1);
        -ms-transform: rotate(1deg) scale(1.1);
        -o-transform: rotate(1deg) scale(1.1);
        transform: rotate(1deg) scale(1.1);
    }
    100% {
        -webkit-transform: rotate(-1.2deg) scale(1);
        -moz-transform: rotate(-1.2deg) scale(1);
        -ms-transform: rotate(-1.2deg) scale(1);
        -o-transform: rotate(-1.2deg) scale(1);
        transform: rotate(-1.2deg) scale(1);
    }
    
}

.container.start .start-screen {
   opacity: 1; 
}

.container.ingame .game-screen {
    opacity: 1;
    margin-top: 0;
}